* {
    text-decoration: none;
}


body {
    background-color: #98c5e1;

    height: 100vh;
    width: 100vw;

    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

main {
    background-color: white;

    padding: 10px 20px;

    text-align: center;

    width: 25rem;
    height: 15rem;

    border-radius: 10px;

    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.467);
}

main > * {
    margin-bottom: 15px;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

main button {
    width: 10rem;
    height: 1.5rem;
    background-color: rgb(230, 229, 229);
    border: none;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

main button:hover {
    opacity: 1;
    background-color: rgb(193, 192, 192);
    
}

main button > a {
    color: black;
    font-size: 1rem;

}