<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index_style.css">
    <title>Seu PC.com</title>
</head>
<body>
    <main>
        <h1> Bem Vindo!</h1>
        <p> O PC que você deseja, mais perto de você! </p>
        <button>
            <a href="login.html">Faça seu login</a>
        </button>
        <br>
        <button>
            <a  onclick="location.href='/criar_conta'" >Criar uma conta</a>
        </button>
    </main>
</body>
</html>
