<!DOCTYPE html>
<html lang="pt-br">
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="../static/login_style.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form class="login-form" action="/login" method="POST">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <!-- <input type="submit" value="Entrar"> -->
            <button>
                <a href="/pc_lista"> Entrar </a>
            </button>
        </form>
    </div>
</body>
</html>