<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/pc_lista_style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1> PC's localizados </h1>
        <table>
            <form action="/pc_lista/{{ pcs }}" method="post">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do PC</th>
                    <th> Descrição </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td> Dell Inspiron All in one 24p </td>
                    <td> 25/05/2024 </td>
                    <img src="/static/img/dell_allinone.png" alt="Descrição da imagem">
                </tr>
                <tr>
                    <td>2</td>
                    <td> iMac M1 24p </td>
                    <td> 12/06/2024 </td>
                    <img src="/static/img/samsung_allinone.png" alt="Descrição da imagem">
                    <img src="/static/img/imac.png" alt="Descrição da imagem">
                </tr>
        </table>

        <button>

            <a href="/create_item"> Adicionar um PC </a>

        </button>

        <br>
        
        <button>
            <a href="/delete_item"> Deletar um PC </a>
        </button>

        <button>
            <a href="/update_item"> Editar um PC </a>
        </button>
    </main>

</body>
</html>